<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vertexai.proxy</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{HOME}}/vertexai-proxy/venv/bin/python</string>
        <string>{{HOME}}/vertexai-proxy/proxy.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>{{HOME}}/vertexai-proxy</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/vertexai-proxy.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/vertexai-proxy.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
